#hero {
  width: 100%;
  height: 70vh;
  background-color: rgba(14, 11, 10, 0.8);
  overflow: hidden;
  position: relative;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#hero .container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  background: rgba(28, 23, 21, 0.7);
  padding: 20px;
  color: #fff;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  border-top: 5px solid #f03c02;
  margin-bottom: 60px;
}

#hero .carousel-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

#hero .btn-get-started {
  font-family: "Muli", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f03c02;
}

#hero .btn-get-started:hover {
  background: #f03c02;
  color: #fff;
  text-decoration: none;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
}

/*#hero .carousel-inner .carousel-item,*/
/*#hero .carousel-inner .active.carousel-item-left,*/
/*#hero .carousel-inner .active.carousel-item-right {*/
/*  opacity: 0;*/
/*}*/

/*#hero .carousel-inner .active,*/
/*#hero .carousel-inner .carousel-item-next.carousel-item-left,*/
/*#hero .carousel-inner .carousel-item-prev.carousel-item-right {*/
/*  opacity: 1;*/
/*  transition: 0.5s;*/
/*}*/

/*#hero .carousel-inner .carousel-item-next,*/
/*#hero .carousel-inner .carousel-item-prev,*/
/*#hero .carousel-inner .active.carousel-item-left,*/
/*#hero .carousel-inner .active.carousel-item-right {*/
/*  left: 0;*/
/*  transform: translate3d(0, 0, 0);*/
/*}*/

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  cursor: pointer;
}

@media (min-width: 1024px) {
  #hero .carousel-content {
    width: 60%;
  }

  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 992px) {
  #hero {
    height: calc(100vh - 72px);
  }

  #hero .carousel-item {
    height: calc(100vh - 72px);
  }
}

@media (max-width: 768px) {
  #hero .carousel-content {
    margin: 0 40px 60px 40px;
  }

  #hero .carousel-content h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }

  #hero .carousel-content p {
    font-size: 15px;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: #f3f1f0;
  padding: 60px 0;
  color: #574741;
}

.cta h3 {
  font-size: 28px;
  font-weight: 700;
}

.cta h3 span {
  color: #f03c02;
}

.cta p {
  padding: 0;
  margin: 0;
}

.cta .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  transition: 0.4s;
  margin: 10px;
  border-radius: 4px;
  border: 2px solid #f03c02;
  color: #f03c02;
  background: #fff;
}

.cta .cta-btn:hover {
  background: #f03c02;
  color: #fff;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  padding: 60px 0;
}

.section-title h2{
 text-align: center;
  font-size: 28px;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
}

.icon-box {
  padding: 50px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  border: 1px solid #ebe6e4;
  height: 200px;
  position: relative;
  background: #faf9f8;
}

.services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #f03c02;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.services .title a {
  color: #343a40;
}

.services .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #f03c02;
}

.services .icon-box:hover .icon i {
  color: #f03c02;
}

.services .icon-box:hover .title a {
  color: #f03c02;
}

.services .description {
  line-height: 24px;
  font-size: 14px;
}
