<section id="hero">
  <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url('../../assets/img/slide/bao.jpg');">
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Big Almaty Lake</h2>
            <p>The Big Almaty Lake (BAO) is considered one of the most beautiful mountain lakes in the whole world. Due to its location at an altitude of more than 2.5 km above sea level, in the gorge of the Big Almaty River in Zailiysky Alatau</p>
            <div class="text-center"><a routerLink="/tours" class="btn-get-started">Read More</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url('../../assets/img/slide/besata.jpg');">
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Bes Ata</h2>
            <p>The land of Kazakhstan is rich in shrines, which hundreds of people travel daily to bow to. Near Almaty there are also places of pilgrimage. This route is called Bes Ata, that is, the Five Fathers. We visited the graves of five famous sons of the Kazakh people...</p>
            <div class="text-center"><a routerLink="/tours" class="btn-get-started">Read More</a></div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url('../../assets/img/slide/kaiyndy.jpg');">
        <div class="container">
          <div class="carousel-content animated fadeInUp">
            <h2>Lake Kaindy</h2>
            <p>Kaindy Lake is a truly amazing example of the creation of nature. It is located among a huge coniferous forest at an altitude of more than 2000 thousand meters above sea level. It was formed by a landslide of a huge accumulation of limestone, as well as soil subsidence.</p>
            <div class="text-center"><a routerLink="/tours" class="btn-get-started">Read More</a></div>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  </div>
</section>

<section id="cta" class="cta">
  <div class="container">

    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3>We have <span>interesting</span> tours in this year!</h3>
         <p> “The gladdest moment in human life is a departure into unknown lands.” – Sir Richard Burton.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" routerLink="/tours">Read more</a>
      </div>
    </div>

  </div>
</section>

<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Provided Services</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="fab fa-cc-visa"></i></div>
          <h4 class="title"><a href="">VISA</a></h4>
          <p class="description">Some tour operators can assist with your visa application.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="fas fa-hotel"></i></div>
          <h4 class="title"><a href="">Hotel</a></h4>
          <p class="description">In each round there will be the nearest popular hotel where you can stay.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="fas fa-briefcase-medical"></i></div>
          <h4 class="title"><a href="">Medical Insurance</a></h4>
          <p class="description">Some tour operators may provide you with travel insurance</p>
        </div>
      </div>
    </div>

  </div>
</section>
