<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 my-5">
      <!--      <div *ngIf="loading" class="lds-dual-ring"></div>-->
<!--      <button class="btn btn-primary" (click)="onReloadPage()">Hard reload</button>-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Hello {{profile.username}}!</h3>
        </div>
        <div class="card-body p-0" style="display: block;">
          <form [formGroup]="paymentForm">
            <table class="table table-striped projects">
              <thead>
              <tr>
                <th>
                  #
                </th>
                <th class="text-center">
                  Tour Name
                </th>
                <th class="text-center">
                  Number of travelers
                </th>
                <th class="text-center">
                  Duration
                </th>
                <th class="text-center">
                  Tour Price <i class="fas fa-tenge"></i>
                </th>
                <th class="text-center">
                  Status
                </th>
                <th class="text-center">
                  Delete
                </th>
                <th class="text-center">
                  Pay
                </th>
                <th class="text-center">
                  Ticket
                </th>
                <th class="text-center">
                  Download
                </th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let bk of bookings let idx = index">


                <td>
                  {{idx + 1}}
                </td>
                <td class="text-center">
                  {{bk.tour_detail.tour.title}}
                </td>
                <td class="text-center">
                  {{bk.booking_number_of_persons}}
                </td>
                <td class="text-center">
                  {{bk.tour_detail.tour.duration}}
                </td>
                <td class="text-center">
                  {{bk.booking_price * bk.booking_number_of_persons}}
                </td>
                <td class="text-center">
                  {{bk.booking_status}}
                </td>
                <td>
                  <a class="btn btn-danger btn-sm m-1 text-white "
                     (click)="deleteTour(bk.id)"
                     [ngClass]="{'disabled': bk.booking_status==='Approved'}"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
<!--                  <button class="btn btn-danger btn-sm m-1 text-white"-->
<!--                  (click)="deleteTour(bk.id)"-->
<!--                          type="submit"-->
<!--                          [ngClass]="{'disabled': bk.booking_status==='Approved'}"-->
<!--                  ><i class="fas fa-trash"></i></button>-->
                </td>
                <td>
                  <input type="hidden" ngModel="{{bk.id}}" id="approveTourId" formControlName="id">
                  <a class="btn btn-success btn-sm m-1 text-white"
                     (click)="approveBooking()"
                     [ngClass]="{'disabled': bk.booking_status==='Approved'}">
                    <i class="fas fa-money-check-alt"></i>

                  </a>
                </td>
                <td *ngIf="bk.booking_status==='Approved'">
<!--                     href="https://tourismera.herokuapp.com/api/v1/fornow/users/me/{{bk.id}}/pdf"-->
                  <a target="_blank"
                     href="http://127.0.0.1:8000/api/v1/fornow/users/me/{{bk.id}}/pdf"
                     class="btn btn-primary btn-sm m-1 text-white"
                  >
                    <i class="fas fa-ticket-alt"></i>
                  </a>
                </td>
                <td *ngIf="bk.booking_status==='Approved'">
<!--                    href="https://tourismera.herokuapp.com/api/v1/fornow/users/me/{{bk.id}}/pdf/download"-->
                  <a
                    href="http://127.0.0.1:8000/api/v1/fornow/users/me/{{bk.id}}/pdf/download"
                     class="btn btn-primary btn-sm m-1 text-white"
                  >
                    <i class="fas fa-file-download"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
